body{
    background-color: beige;
}

#Join-section{
    max-width: 40vw;;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    margin-left: 30vw;;
    background-color: violet;
    border-radius: 0.25em;
    box-shadow: 4px 4px rgb(10, 124, 86, 0.4);

}

button, #name-room{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#name-room:hover, #name-input:hover{
    transform: scale(1.1);
    transition: 0.4s;
}